<p-card header="{{job.job_id}} - {{job.job_title}}">
  <div class="button-container">
    <button pButton type="button" label="View job" icon="pi pi-cog" class="button-container-items" (click)="openJobModal()"></button>
    <button pButton type="button" label="Edit job" icon="pi pi-cog" class="button-container-items" (click)="editJob()"></button>
    <p-fileUpload 
      mode="basic" 
      chooseLabel="Upload excel sheet" 
      chooseIcon="pi pi-upload" 
      name="file"
      [auto]="true" 
      [url]="uploadUrl"
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
      maxFileSize="5000000"
      (onBeforeUpload)="onBeforeSend($event)"
      (onUpload)="onUpload($event)"
      class="button-container-items"
      />
  </div>
</p-card>

<p-dialog header="Job details" [(visible)]="showJobDetails" modal="true" [closable]="true">
 <h3>Job description</h3>
 <p>{{job.job_desc}}</p>
 <h3> Standards </h3>
 <!-- <ul>
  <li *ngFor="let standard for job.standards">{{standard.key}}: {{standard.value}}</li>
 </ul> -->

</p-dialog>

<app-candidate-list [jobId]="job.job_id"></app-candidate-list>