<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a href="#" class="navbar-logo">Fyle Hiring</a>
    </div>
    <div class="navbar-toggle" (click)="toggleMenu()">
      <i class="pi pi-bars"></i>
    </div>
    <ul class="navbar-links" [class.active]="isMenuOpen">
      <li><a href="#">Dashboard</a></li>
      <li><a href="/candidates">Candidates</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>