<div class="job-post-list-container">
    <h2>Job Posts</h2>
  
    <p-table [value]="jobPosts">
      <ng-template pTemplate="header">
        <tr>
          <th>Job ID</th>
          <th>Job Title</th>
          <th>Job Domain</th>
          <th>Code Coverage</th>
          <th>Code Review Score</th>
          <th>Resume Score</th>
          <th>Created At</th>
          <th>Currently Hiring</th>
          <!-- <th>Actions</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-jobPost>
        <tr (click)="onRowClick(jobPost.job_id)" style="cursor: pointer;">
          <td>{{ jobPost.job_id }}</td>
          <td>{{ jobPost.job_title }}</td>
          <td>{{ jobPost.job_domain }}</td>
          <td>{{ jobPost.code_coverage }}%</td>
          <td>{{ jobPost.code_review_score }}</td>
          <td>{{ jobPost.resume_score }}</td>
          <td>{{ jobPost.created_at | date: 'short' }}</td>
          <td>{{ jobPost.is_active ? 'Yes' : 'No' }}</td>
          <!-- <td>
            <button pButton label="Toggle Active" (click)="toggleJobStatus(jobPost)"></button>
          </td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
  