<div class="candidate-list">
    <div class="p-grid">
      <div class="p-col-6">
        <span class="p-input-icon-left">
          <input pInputText type="text" placeholder="Search..." [(ngModel)]="globalFilter" (input)="onGlobalFilter($event)">
          <i class="pi pi-search"></i>
        </span>
      </div>
      <div class="p-col-6 text-right">
        <button pButton type="button" label="Manage Columns" icon="pi pi-cog" (click)="manageColumns()"></button>
      </div>
      <div class="p-col-6 text-right">
        <button pButton type="button" label="Filter" icon="pi pi-cog" (click)="showFilterDialog()"></button>
        <button pButton type="button" label="Start Bulk review" icon="pi pi-cog" (click)="reviewAllCandidates()"></button>
        <button pButton type="button" label="Actions" icon="pi pi-cog" *ngIf="selectedCandidates.length > 0" (click)="showBulkStatusUpdateDialog()"></button>
      </div>
    </div>
  
    <p-table 
    [value]="candidates" 
    [paginator]="true" 
    [rows]="rowsPerPage" 
    [totalRecords]="totalRecords" 
    [lazy]="true"
    [globalFilterFields]="['full_name', 'email', 'mobile_number']" 
    (onLazyLoad)="loadCandidates($event)"
    [resizableColumns]="true" 
    [scrollable]="true" 
    [(selection)]="selectedCandidates" 
    [columns]="visibleColumns"
    [sortField]="sortField" 
    [sortOrder]="sortOrder"
    (onRowSelect)="navigateToProfile($event)">
    
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>View Profile</th>
        <th *ngIf="jobData">Fit Evaluation</th>
        <th *ngFor="let col of visibleColumns" [pSortableColumn]="col.sortable ? col.field : null">
          {{col.header}}
          <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngIf="jobData">
          <i 
          [class]="rowData.fitEvaluation === 'Best Fit' ? 'pi pi-check-circle' : 'pi pi-times-circle'"
          [style.color]="rowData.fitEvaluation === 'Best Fit' ? 'green' : 'red'">
        </i>
        {{ rowData.fitEvaluation }}
      </td>
      <td>
      <button pButton type="button" icon="pi pi-eye" label="View" (click)="viewCandidate(rowData)"></button>
        </td>
        <td *ngFor="let col of visibleColumns">
          {{ rowData[col.field] || 'N/A' }}
        </td>
      </tr>
    </ng-template>
  </p-table>

    <p-dialog header="Provide Reasons" [(visible)]="statusChange" modal="true" [closable]="true" (onHide)="onDialogClose()">
      <form [formGroup]="reasonForm" (ngSubmit)="submitForm()">
        <div class="field">
          <div><label for="reason">Reasons*</label></div>
          <input id="reason" pInputText formControlName="reason" placeholder="Enter reason" required/>
        </div>
        <div class="button-container">
          <button pButton type="submit" label="Submit" class="submit-button" [disabled]="reasonForm.invalid"></button>
        </div>
      </form>
    </p-dialog>
  
    <p-dialog header="Manage Columns" [(visible)]="manageColumnsVisible" modal="true" [closable]="true">
        <div class="manage-columns">
          <div class="manage-columns-item" *ngFor="let col of columns">
            <p-checkbox [(ngModel)]="col.visible" binary="true"></p-checkbox>
            <label>{{col.header}}</label>
          </div>
        </div>
        <p-footer>
          <button pButton label="Save" icon="pi pi-check" (click)="updateVisibleColumns(); manageColumnsVisible = false;"></button>
        </p-footer>
      </p-dialog>
  
    <p-dialog header="Filter by Code Review Score" [(visible)]="filterDialogVisible" modal="true">
      <div class="p-field">
        <label for="codeScoreOperator">Operator</label>
        <p-dropdown [(ngModel)]="codeScoreFilter.operator" [options]="[{label: 'Greater than', value: 'gt'}, {label: 'Less than', value: 'lt'}]" placeholder="Select an operator"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="codeScoreValue">Code Review Score</label>
        <input pInputText [(ngModel)]="codeScoreFilter.value" type="number" placeholder="Enter score value">
      </div>
      <p-footer>
        <button pButton label="Apply" icon="pi pi-check" (click)="loadCandidates({ first: 0, rows: rowsPerPage }); filterDialogVisible = false;"></button>
      </p-footer>
    </p-dialog>

    <p-dialog header="Actions" [(visible)]="bulkStatusUpdateDialogVisible" modal="true">
      <form [formGroup]="statusForm" (ngSubmit)="submitBulkStatus()">
        <div class="p-grid">
          <div class="p-col-6">
            <p-dropdown 
              [options]="statusOptions" 
              placeholder="Select Status"
              formControlName="status"
              appendTo="body">
            </p-dropdown>
          </div>
          <div class="p-col-6">
            <button pButton label="Update" icon="pi pi-cog" type="submit"></button>
          </div>
        </div>
      </form>
      <p *ngIf="statusForm.get('status')?.value === 'rejected'">Note: Selecting `rejection` state will send rejection emails to the candidates!</p>
      <p *ngIf="statusForm.get('status')?.value === 'offer_letter_sent'">Note: Selecting `offer_letter_sent` state will send acceptance emails to the candidates!</p>
    </p-dialog>
  </div>
  