<div class="create-job-form-container">
  <p-card>
    <h2>Create a Job</h2>
    
    <div *ngIf="isLoading" class="loading-spinner">
      <i class="pi pi-spin pi-spinner" style="font-size: 2em;"></i>
    </div>
    
    <!-- Show success icon when job post is created -->
    <div *ngIf="isSuccess" class="success-message">
      <i class="pi pi-check-circle" style="font-size: 2em; color: green;"></i>
      <p>Job post created successfully!</p>
      <p> Redirecting to job posts page ...</p>
    </div>

    <!-- Job form will be hidden when loading or success -->
    <div class="create-job-form" *ngIf="!isLoading && !isSuccess">
      <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">

        <div class="field">
          <div><label for="is_active">Is Active?</label></div>
          <input id="is_active" type="checkbox" formControlName="is_active" />
          <small>Check this if the job is currently active and hiring.</small>
        </div>
        
        <div class="field">
          <div><label for="jobTitle">Job Title*</label></div>
          <input id="jobTitle" pInputText formControlName="jobTitle" placeholder="Enter job title"/>
          <div *ngIf="jobForm.get('jobTitle')?.invalid && jobForm.get('jobTitle')?.touched">
            <small class="p-error">Job title is required</small>
          </div>
        </div>

        <div class="field">
          <div><label for="jobDesc">Job Description*</label></div>
          <textarea id="jobDesc" pInputTextarea formControlName="jobDesc" rows="5"
            placeholder="Enter job description"></textarea>
          <div *ngIf="jobForm.get('jobDesc')?.invalid && jobForm.get('jobDesc')?.touched">
            <small class="p-error">Job description is required</small>
          </div>
        </div>

        <div class="field">
          <div><label for="jobDomain">Job Domain*</label></div>
          <p-dropdown id="jobDomain" [options]="jobDomains" formControlName="jobDomain"
            placeholder="Select a domain" [style]="{'width':'100%', 'margin': '10px 0'}"></p-dropdown>
          <div *ngIf="jobForm.get('jobDomain')?.invalid && jobForm.get('jobDomain')?.touched">
            <small class="p-error">Job domain is required</small>
          </div>
        </div>

        <div class="field">
          <div><label for="baseUrl">Base repo URL*</label></div>
          <input id="baseUrl" pInputText formControlName="baseUrl" placeholder="Enter base repo url"/>
          <div *ngIf="jobForm.get('baseUrl')?.invalid && jobForm.get('baseUrl')?.touched">
            <small class="p-error">Base repo URL is required</small>
          </div>
        </div>

        <h2>Set Standards</h2>

        <div class="field">
          <div><label for="codeCoverage">Code coverage percentage (out of 100)</label></div>
          <input id="codeCoverage" pInputText formControlName="codeCoverage" placeholder="Enter code coverage percentage"/>
          <div *ngIf="jobForm.get('codeCoverage')?.invalid && jobForm.get('codeCoverage')?.touched">
            <small class="p-error">Enter only numbers</small>
          </div>
        </div>

        <div class="field">
          <div><label for="resumeScore">Resume score threshold (out of 10)</label></div>
          <input id="resumeScore" pInputText formControlName="resumeScore" placeholder="Enter resume score threshold"/>
          <div *ngIf="jobForm.get('resumeScore')?.invalid && jobForm.get('resumeScore')?.touched">
            <small class="p-error">Enter only numbers</small>
          </div>
        </div>

        <div class="field">
          <div><label for="codeReviewScore">Code review score threshold (out of 10)</label></div>
          <input id="codeReviewScore" pInputText formControlName="codeReviewScore" placeholder="Enter code review score threshold"/>
          <div *ngIf="jobForm.get('codeReviewScore')?.invalid && jobForm.get('codeReviewScore')?.touched">
            <small class="p-error">Enter only numbers</small>
          </div>
        </div>
        
        <div class="button-container">
          <button pButton type="submit" label="Create Job" [disabled]="jobForm.invalid || isLoading" class="submit-button"></button>
        </div>
      </form>
    </div>
  </p-card>
</div>
