<div class="create-job-form-container">
  <p-card>
    <h2>Create a Job</h2>
    
    <div *ngIf="isLoading" class="loading-spinner">
      <i class="pi pi-spin pi-spinner" style="font-size: 2em;"></i>
    </div>
    
    <div *ngIf="isSuccess" class="success-message">
      <i class="pi pi-check-circle" style="font-size: 2em; color: green;"></i>
      <p>Job post created successfully!</p>
      <p> Redirecting to job posts page ...</p>
    </div>

    <div class="create-job-form" *ngIf="!isLoading && !isSuccess">
      <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">

        <div class="field">
          <div><label for="is_active">Is Active?</label></div>
          <input id="is_active" type="checkbox" formControlName="is_active" />
          <small>Check this if the job is currently active and hiring.</small>
        </div>
        
        <div class="field">
          <div><label for="job_title">Job Title*</label></div>
          <input id="job_title" pInputText formControlName="job_title" placeholder="Enter job title"/>
          <div *ngIf="jobForm.get('job_title')?.invalid && jobForm.get('job_title')?.touched">
            <small class="p-error">Job title is required</small>
          </div>
        </div>

        <div class="field">
          <div><label for="job_desc">Job Description*</label></div>
          <textarea id="job_desc" pInputTextarea formControlName="job_desc" rows="5"
            placeholder="Enter job description"></textarea>
          <div *ngIf="jobForm.get('job_desc')?.invalid && jobForm.get('job_desc')?.touched">
            <small class="p-error">Job description is required</small>
          </div>
        </div>

        <div class="field">
          <div><label for="job_domain">Job Domain*</label></div>
          <p-dropdown id="job_domain" [options]="job_domains" formControlName="job_domain"
            placeholder="Select a domain" (onChange)="onDomainChange($event)" [style]="{'width':'100%', 'margin': '10px 0'}"></p-dropdown>
          <div *ngIf="jobForm.get('job_domain')?.invalid && jobForm.get('job_domain')?.touched">
            <small class="p-error">Job domain is required</small>
          </div>
        </div>

        <div class="field">
          <div><label for="github_url">Base repo URL*</label></div>
          <input id="github_url" pInputText formControlName="github_url" placeholder="Enter base repo url"/>
          <div *ngIf="jobForm.get('github_url')?.invalid && jobForm.get('github_url')?.touched">
            <small class="p-error">Base repo URL is required</small>
          </div>
        </div>

        <h2>Set Standards</h2>

        <!-- Show Code Coverage and Code Review Score for Frontend and Backend -->
        <div *ngIf="showCodeCoverageAndReview">
          <div class="field">
            <div><label for="code_coverage">Code coverage percentage (out of 100)</label></div>
            <input id="code_coverage" pInputText formControlName="code_coverage" placeholder="Enter code coverage percentage"/>
            <div *ngIf="jobForm.get('code_coverage')?.invalid && jobForm.get('code_coverage')?.touched">
              <small class="p-error">Enter only numbers</small>
            </div>
          </div>

          <div class="field">
            <div><label for="code_review_score">Code review score threshold (out of 10)</label></div>
            <input id="code_review_score" pInputText formControlName="code_review_score" placeholder="Enter code review score threshold"/>
            <div *ngIf="jobForm.get('code_review_score')?.invalid && jobForm.get('code_review_score')?.touched">
              <small class="p-error">Enter only numbers</small>
            </div>
          </div>
        </div>

        <!-- Resume Review Score for all domains -->
        <div class="field">
          <div><label for="resume_score">Resume score threshold (out of 10)</label></div>
          <input id="resume_score" pInputText formControlName="resume_score" placeholder="Enter resume score threshold"/>
          <div *ngIf="jobForm.get('resume_score')?.invalid && jobForm.get('resume_score')?.touched">
            <small class="p-error">Enter only numbers</small>
          </div>
        </div>
        
        <div class="button-container">
          <button pButton type="submit" label="Create Job" [disabled]="jobForm.invalid || isLoading" class="submit-button"></button>
        </div>
      </form>
    </div>
  </p-card>
</div>
