.p-inputtext {
    width: 100%;
    margin: 10px 0;
  }
  
  .create-job-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; 
  }
  
  p-card {
    width: 50%;
    margin: 20px 0;
  
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  .create-job-form {
    width: 100%;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .button-container {
    text-align: right;
  }
  